@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// Colors
$hexnode-primary-color: #020A19;
$hexnode-secondary-color: #d1d5db;
$hexnode-red: #dd0735;
$hexnode-white: #fff;
$hexnode-text-color: #101420;
$hexnode-light-text-color: rgba(255, 255, 255, 0.75);
$hexnode-light-border: #f3f3f3;
$hexnode-dark-border: #dbd9d2;

// Fonts
$hexnode-primary-family: 'Mulish', sans-serif;
